@model StarDex.Client.Models.PlanetViewModel

@{
  ViewData["Title"] = @Model.Name;
}

<h1>@Model.Name</h1>

<section>
  <img src="@Model.ImageURL" alt="Image of @Model.Name" style="height: 480px;"><br>
  <span><b>Image Source:</b> @Model.ImageURL</span><br>
  <span><b>Mass:</b> @Model.Mass kg</span><br>
  <span><b>Volume:</b> @Model.Volume km^3</span><br>
  <span>@Model.Description</span>
</section>