@model StarDex.Client.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section>
  <span class="const-container">
    <img src="~/img/map.jpg" alt="Constellation Map" class="constellation" id="constellation-sphere">
    @using (Html.BeginForm("Get", "Constellation", FormMethod.Get)) {
      @foreach (StarDex.Client.Models.ConstellationButtonModel constellation in Model.stars) {
        <input type="submit" name="name" value="@constellation.name" class="btn" style="top: @constellation.top%; left: @constellation.left%;">
      }
    }
    @using (Html.BeginForm("Get", "Planet", FormMethod.Get)) {
      @foreach (StarDex.Client.Models.PlanetViewModel planet in Model.planets) {
        <input type="submit" name="name" value="@planet.Name" class="btn" style="top: @planet.Top%; left: @planet.Left%;">
      }
    }
    <p><b>Map source:</b> http://www.radicalcartography.net/index.html?stars</p>
  </span>
</section>